# Project exclude paths
/target/
.DS_Store
.idea/AlgoPA.iml
.idea/jarRepositories.xml
.idea/kotlinc.xml
.idea/shelf/Adding_new_function_for_Kotlin.xml
.idea/shelf/Adding_new_function_for_Kotlin/shelved.patch
.idea/shelf/Uncommitted_changes_before_rebase_\[Changes\]/shelved.patch
.idea/shelf/Uncommitted_changes_before_rebase_\[Changes\]1/shelved.patch
.idea/shelf/Uncommitted_changes_before_rebase_\[Changes\]2/shelved.patch
.idea/shelf/Uncommitted_changes_before_rebase_\[Changes\]3/shelved.patch
.idea/shelf/Uncommitted_changes_before_rebase_\[Changes\]4/shelved.patch
.idea/shelf/Uncommitted_changes_before_rebase_\[Changes\]5/shelved.patch
.idea/shelf/Uncommitted_changes_before_rebase_\[Changes\]6/shelved.patch
.idea/shelf/Uncommitted_changes_before_rebase_\[Changes\]7/shelved.patch
.idea/shelf/Uncommitted_changes_before_rebase__Changes_.xml
.idea/shelf/Uncommitted_changes_before_rebase__Changes_1.xml
.idea/shelf/Uncommitted_changes_before_rebase__Changes_2.xml
.idea/shelf/Uncommitted_changes_before_rebase__Changes_3.xml
.idea/shelf/Uncommitted_changes_before_rebase__Changes_4.xml
.idea/shelf/Uncommitted_changes_before_rebase__Changes_5.xml
.idea/shelf/Uncommitted_changes_before_rebase__Changes_6.xml
.idea/shelf/Uncommitted_changes_before_rebase__Changes_7.xml
src/main/java/algo/MinWindow.java
tmp/CombinationSum.java
tmp/findCombination.kt
tmp/pom.xml
.idea/AlgoPA.iml
.idea/jarRepositories.xml
.idea/kotlinc.xml
